/* Body */
body {
  min-width: 280px;
  margin: 0;
  background-color: #f0f2f5;
  font-family: "Roboto Condensed", sans-serif;
}

/* Container */
.container {
  display: flex;
  margin: 0;
  flex-direction: row;
  padding-bottom: 50px;
  /* Space for footer */
}

.sidebar {
  width: 300px;
  padding: 10px 10px 10px 10px;
  background-color: #1b0067;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  
  /* Fixed width */
  overflow-y: auto;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.instructions button {
  margin-bottom: 0.3rem;
  padding: 10px;
  background-color: #2200ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.instructions button:hover {
  background-color: #1e02d1;
}

#newfield {
  display: flex;
  margin-bottom: 0;
}

#newfield input,
.input-sort input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

#addfield {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addfield:hover {
  background-color: #0056b3;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  /* Change the color as needed */
  margin: 20px 0;
  /* Add some margin for spacing */
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0px 7px rgba(255, 255, 255, 0.721);
}

.input-group ul {
  list-style-type: none;
  padding-left: 0;
  /* Optional: to remove the default padding */
}

.input-group li {

  padding-top: 10px;
}

.field-container {
  display: flex;
  align-items: center;
}

.field-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.delete-field-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-field-button:hover {
  background-color: #c82333;
}

.input-group button {
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addentry {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addentry:hover {
  background-color: #0056b3;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.button-group button {
  background-color: #dc3545;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.button-group button:hover {
  background-color: #ad0000;
}

.sort {
  background-color: #007bff;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sort:hover {
  background-color: #0056b3;
}

.input-sort {
  display: flex;
  margin-top: 10px;
}

.p1 p {
  text-align: center;
}

.print {
  margin-bottom: 50px;
  background-color: #ff0000;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.print:hover {
  background-color: #c60000;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 320px;
  /* Adjusted for sidebar width */
}

.main-content h1 {
  margin-top: 0;
  text-align: center;
  font-size: 17px;
}

.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  
}

.studIndex {
  position: absolute; /* Position it absolutely within the parent */
  top: 8px; /* Adjust as necessary */
  left: 8px; /* Adjust as necessary */
  font-weight: bold; /* Make it bold for emphasis */
  opacity: 0.4;
  font-size: 14px;
  
}
.student-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  overflow: hidden; 
  max-width: calc(100% - 40px); /* Allow space for padding */


}

.student-item:hover {
  transform: scale(1.02);
  background-color: #ecebeb;
  cursor: pointer;
}

.student-info {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.student-info div {
  overflow: hidden;
  text-overflow: ellipsis; /* Use ellipsis for overflowed text */
  max-width: 100%;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  padding: 0.1rem;

}

.student-info div input {
  border: none;
  border-radius: 8px;
  margin-left: 0.4rem;
  padding: 0.2rem;
  font-size: 17px;
  
}

.student-info div span {
  margin-left: 0.3rem;
  text-transform: capitalize;
}
.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #f11111;
}

.edit-button {
  margin: 0.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.edit-button:hover {
  background-color: #0056b3;
}
.save-button {
  margin: 0.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-button:hover {
  background-color: #0056b3;
}
.cancel-button {
  margin: 0.2rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color 0.2s;
}

.cancel-button:hover {
  background-color: #f11111;
  cursor: pointer;
}
.reverseSortButton {
  position: fixed;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  bottom: 10px;
  right: 10px;
  width: 100px;
}

.reverseSortButton:hover {
	cursor: pointer;
  background-color: #0056b3;
}

.printExtraButton {
  background-color: #ff0000;
  position: fixed;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  bottom: 10px;
  right: 115px;
  width: 100px;
}

.printExtraButton:hover {
  cursor: pointer;
  background-color: #c60000;
}


/* Footer */
footer {
  background-color: #1b0067;
  padding: 5px;
  text-align: center;
  color: #f7f7f7;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Print Styles */
@media print {
  body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  .container,
  .sidebar,
  .main-content,
  footer {
    display: none;
    
  }

  .print-container {
    display: block;
    width: 100%;
  }

  .print-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 35px;
  }

  .print-student {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    page-break-inside: avoid;
  }

  .print-student:last-child {
    border-bottom: none;
  }

  .print-student div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .print-student div span.label {
    font-weight: bold;
    margin-right: 10px;
  }

  .print-student div span.value {
    flex: 1;
  }

  #printDate {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  }

  /* Optional: remove margin and padding from all elements to ensure consistent layout */
  * {
    margin: 0;
    padding: 0;
  }

  /* Ensure all elements are printed in high-quality */
  html {
    -webkit-print-color-adjust: exact;
    /* For WebKit browsers */
    print-color-adjust: exact;
    /* Standard property for other browsers */
  }
}


/* Media Queries */
@media (max-width: 768px) {
  
  .sidebar { 
    width: auto ;
    height: auto;
    position: relative;
  }

  .input-group {
    margin-top: 30px;
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .main-content {
    margin-left: 0;
    padding: 20px;
  }

  footer {
    left: 0;
  }
}

@media (max-width: 480px) {

  .sidebar { 
    width: auto ;
    height: auto;
    position: relative;
  }

  .main-content {
    padding: 15px;
  }

  footer {
    left: 0;
  }
}

@media (max-width: 320px) {

  .sidebar { 
    width: auto ;
    height: auto;
    position: relative;
    
  }

  .main-content {
    padding: 5px 5px;
  }

  footer {
    left: 0;
  }
}

/* Focus Styles for Accessibility */
button:focus,
input:focus {
  outline: 2px solid #0056b3;
}